body {
    margin:0px;
    padding:0px;
    text-align: left;
}

#map {
    height: 800px;
    width: 100%;
}
#slider {
    height: 20px;
    width: 100%;
}


.info {
    font: 30px "Helvetica";
    margin:  22px;
}

.tooltip {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -9999px;
}

.tooltip > svg{ margin:auto; display: block; }

.bubble {
    font: 14px Helvetica;
    text-anchor: middle;
    alignment-baseline: central;
}
.dead {
    fill: white;
    color: white;
    font-weight: bold;
}
.expo {
    fill: black;
    font-weight: bold;
}
.slope {
    fill: white;
    font-weight: bold;
}
/*.attr({"color": "white", "text-anchor": "middle", "alignment-baseline": "central" })}*/
